#root {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f78378
}

.header-container {
  display: flex;
  justify-content: space-between; /* Space between logo and icons on larger screens */
  align-items: center;
  padding: 10px;
}

#logo {
  height: 100px;
}

#walletImage, #navMenu {
  height: 90px;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between walletImage and navMenu */
}

.icon {
  width: 30px; /* or whatever size you want */
  height: 30px; /* make sure your images fit these dimensions by adjusting */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .header-container {
      flex-wrap: wrap; /* Allows items to wrap on smaller screens */
      justify-content: flex-start; /* Aligns items to the left */
  }
  
  .logo {
      margin-bottom: 10px; /* Adds some space below logo when it wraps */
  }
  
  .right-icons {
      width: 100%; /* Ensures that the icons take full width when wrapped */
  }
}
