#root {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f98171
}

.header-container {
  height: 100px;
  display: flex;
  justify-content: space-between; /* Space between logo and icons on larger screens */
  align-items: center;
  padding: 10px;
}

#logo {
  height: 80px;
}

#walletImage, #navMenu {
  height: 90px;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between walletImage and navMenu */
}

.icon {
  width: 30px; /* or whatever size you want */
  height: 30px; /* make sure your images fit these dimensions by adjusting */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .header-container {
      flex-wrap: wrap; /* Allows items to wrap on smaller screens */
      justify-content: flex-start; /* Aligns items to the left */
  }
  
  .logo {
      margin-bottom: 10px; /* Adds some space below logo when it wraps */
  }
  
  .right-icons {
      width: 100%; /* Ensures that the icons take full width when wrapped */
  }
}

.navigation-menu {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navigation-menu ul {
  list-style-type: none;
  padding: 0;
}

.navigation-menu li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navigation-menu li:hover {
  background-color: #e0e0e0;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;

  bottom: 0;
  width: 100%;
}

.footer-content {
  margin: 0 auto;
}
